# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Flutter CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Dart SDK (for FVM)
        uses: dart-lang/setup-dart@v1

      - name: Install FVM
        run: dart pub global activate fvm

      - name: Add pub cache to PATH
        run: echo "$HOME/.pub-cache/bin" >> "$GITHUB_PATH"

      - name: Install Flutter via FVM
        run: |
          fvm install
          fvm flutter --version

      - name: Install dependencies
        run: fvm flutter pub get

      - name: Analyze project source
        run: fvm flutter analyze

      - name: Run tests
        run: fvm flutter test
